@model Truco.Models.CompeticaoEquipe
@Html.HiddenFor(a => a.CompeticaoId)
    <div class="row form-group">

        <div class="col-md-4 col-xs-6">

        </div>
        <div class="col-md-4 col-xs-6">

        </div>
    </div> <!-- ./row -->
