<script>
	
	var engineEquipes = new Bloodhound({
        remote: { url: '@Url.Action("PesquisarEquipes", "EquipesAtletas")?nome=%QUERY', wildcard: '%QUERY' },
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nome'),
        queryTokenizer: Bloodhound.tokenizers.whitespace
    });

    engineEquipes.initialize();

    $('#EquipeNome').typeahead(null, {
        source: engineEquipes.ttAdapter(),
		limit: 15,
        displayKey: "Nome",
        templates: {
            suggestion: function (data) {
                return '<p><strong>' + data.Nome + '</strong></p>';
            }
        }
    }).on('typeahead:selected', function (e, suggestion, name) {
        $("#EquipeId").val(suggestion.EquipeId);
    });
	
	var engineAtletas = new Bloodhound({
        remote: { url: '@Url.Action("PesquisarAtletas", "EquipesAtletas")?nome=%QUERY', wildcard: '%QUERY' },
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nome'),
        queryTokenizer: Bloodhound.tokenizers.whitespace
    });

    engineAtletas.initialize();

    $('#AtletaNome').typeahead(null, {
        source: engineAtletas.ttAdapter(),
		limit: 15,
        displayKey: "Nome",
        templates: {
            suggestion: function (data) {
                return '<p><strong>' + data.Nome + '</strong></p>';
            }
        }
    }).on('typeahead:selected', function (e, suggestion, name) {
        $("#AtletaId").val(suggestion.AtletaId);
    });
</script>

