<script>
	
	var engineBairroes = new Bloodhound({
        remote: { url: '@Url.Action("PesquisarBairroes", "Logradouros")?nome=%QUERY', wildcard: '%QUERY' },
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nome'),
        queryTokenizer: Bloodhound.tokenizers.whitespace
    });

    engineBairroes.initialize();

    $('#BairroNome').typeahead(null, {
        source: engineBairroes.ttAdapter(),
		limit: 15,
        displayKey: "Nome",
        templates: {
            suggestion: function (data) {
                return '<p><strong>' + data.Nome + '</strong></p>';
            }
        }
    }).on('typeahead:selected', function (e, suggestion, name) {
        $("#BairroId").val(suggestion.BairroId);
    });
</script>

